{% extends 'layouts/basic_layout.html.twig' %}

{% block title %}Search page{% endblock %}

{% block body %}
<div class="holiday-search-page">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <!-- Using a form type here would introduce unnecessary complications -->
                <form method="POST">
                    <div class="form-group">
                        <label for="countrySelect">Country</label>
                        {% if countries|length > 0 %}
                            <select class="form-control" name="country" id="countrySelect">
                                    {% for country in countries %}
                                        {% if selectedCountry is defined and country.code == selectedCountry %}
                                            <option selected="selected" value="{{ country.code }}">{{ country.fullName }}</option>
                                        {% else %}
                                            <option value="{{ country.code }}">{{ country.fullName }}</option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="yearSelect">Year</label>
                        <select class="form-control" name="year" id="yearSelect"></select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Find holidays</button>
                </form>

                {% if holidayMonthGroups is defined %}
                    <h2>Today: {{ currentDayStatus }}</h2>
                    <h2>Total public holidays: {{ publicHolidayCount }}</h2>
                    <h2>Maximum number of free days in a row: {{ maxSeriesFreedays }}</h2>
                    <table class="table" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Country</th>
                                <th>Holiday title</th>
                                <th>Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if holidayMonthGroups|length > 0 %}  
                                {% for month, monthHolidays in holidayMonthGroups %}
                                    <tr class="month-devider"><th colspan="4">{{ month }}</th></tr>
                                    {% for holiday in monthHolidays %}
                                    <tr>
                                        <td>{{ holiday.country.fullName }}</td>
                                        <td><a href="https://www.google.com/search?q={{ holiday.name }}">{{ holiday.name }}</a></td>
                                        <td>{{ holiday.date|date("Y/m/d") }}</td>
                                        <td>{{ holiday.holidayTypePrettyName }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>No results found.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}