{% extends 'layouts/basic_layout.html.twig' %}

{% block body %}
    <div class="holiday-search-page">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h1>Hey, welcome to holiday watcher!</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}