.holiday-search-page {
    h2 {
        text-align: center;
        margin-top: 20px;
    }
    table {
        margin: 30px 0;
        .month-devider {
            background-color: $blue-light-1;
            text-align: center;
        }
    }
}