<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Holiday Watcher Home{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <header>{% block header %}{% endblock %}</header>
    <body>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="page-content-wrapper">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {#Heroku can't find script in app.js#}
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
    <footer>{% block footer %}{% endblock %}</footer>
</html>